html, body {
  background-color: #ffffff;
  color: #324292;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

a {
  color: #00cccc;
  text-decoration: none;
  font-weight: 600;
}

#main {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#container {
  width: 100%;
  height: calc(100% - 50px);
}

#logo {
  font-size: 9pt;
  position: absolute;
  left: 50px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 50px 5px rgba(100,100,100,0.15);
  z-index: 1;
}

#logo img {
  height: 18px;
}